<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Project Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('posts.static', filename='css/posts_style.css') }}">

</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">FlaskApp</a>
        <a href="{{ url_for('posts.index') }}">Posts</a>
        <a href="{{ url_for('posts.categories') }}">Categories</a>
        <a href="{{ url_for('questions.index') }}">Questions</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <script type="module" src="{{ url_for('main.static', filename='js/script.js') }}"></script>
</body>
</html>


